<footer>
  
    
        {{ ftop_full }}
  

<div class="cont-bg">
  <div class="container"> 
    <ul id="footer_contact" class="fthr row">
      <li class="d-inline-block col-md-3 col-sm-6 col-xs-12 f-ftcn">
        <div class="icon d-inline-block"><svg width="42px" height="42px"><use xlink:href="#location"></use></svg></div>
        <div class="data d-inline-block"><h3>{{ text_namet }}</h3><h4>{{ text_name }}</h4></div>
      </li>
      <li class="d-inline-block col-md-3 col-sm-6 col-xs-12 f-ftcn">
        <div class="icon d-inline-block"><svg width="42px" height="42px"><use xlink:href="#femail"></use></svg></div>
        <div class="data d-inline-block"><h3>{{ text_emailt }}</h3><h4>{{ text_email }}</h4></div>
      </li>
      <li class="d-inline-block col-md-3 col-sm-6 col-xs-12 f-ftcn">
        <div class="icon d-inline-block"><svg width="42px" height="42px"><use xlink:href="#phonef"></use></svg></div>
        <div class="data d-inline-block"><h3>{{ text_telephonet }}</h3><h4>{{ text_telephone }}</h4></div>
      </li>
      <li class="d-inline-block col-md-3 col-sm-6 col-xs-12 f-ftcn">
        <div class="icon d-inline-block"><svg width="42px" height="42px"><use xlink:href="#time"></use></svg></div>
        <div class="data d-inline-block"><h3>{{ text_faxt }}</h3><h4>{{ text_fax }}</h4></div>
      </li>
    </ul>
  </div>
</div> 
  
    <div class="middle-footer">
      <div class="container">
        <div class="row">
      <div class="col-sm-12 col-lg-3 col-md-4 col-xs-12">
        <div class="foo-logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>
        {{ footer_left }}
      </div>

    {% if footer_left and footer_right %}
    {% set class = 'col-sm-8' %}
    {% elseif footer_left or footer_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
      {% if informations %}
      <div class="col-md-2 col-sm-3 col-xs-12 fborder">
        <h5>{{ text_information }}
          <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#info"></button>
        </h5>
        <div id="info" class="collapse footer-collapse">
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
        </div>
      </div>
      {% endif %}
      <div class="col-md-2 col-sm-3 col-xs-12 fborder">
        <h5>{{ text_account }}
          <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#account"></button>
        </h5>
        <div id="account" class="collapse footer-collapse">
        <ul class="list-unstyled lastb">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-3 col-xs-12 fborder">
        <h5>{{ text_service }}
          <button type="button" class="btn  toggle collapsed" data-toggle="collapse" data-target="#service"></button>
        </h5>
        <div id="service" class="collapse footer-collapse">
        <ul class="list-unstyled lastb">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
        </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-2 col-sm-3 col-xs-12 fborder">
        <h5>{{ text_others }}
          <button type="button" class="btn  toggle collapsed" data-toggle="collapse" data-target="#other"></button>
        </h5>
        <div id="other" class="collapse footer-collapse">
        <ul class="list-unstyled lastb">
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
          <li><a href="{{ all_blogs }}">{{ text_blog }}</a></li>
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
        </ul>
        </div>
      </div>
      
     {#  <div class="col-md-3 col-sm-3 col-xs-12 fborder">{{ footer_right }}</div> #}


</div>
</div>
</div>
<div class="footd">{{ fbottom_full }}</div>
<div class="copy text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{ powered }}
      </div>
    </div>
  </div>
</div>
</footer>
<a href="" id="scroll" title="Scroll to Top" style="display: none;">
<i class="fa fa-angle-up"></i>
</a>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>
