<div class="row bannerser">
	<div class="serpd row">
    {% for banner in banners %}
    	<div class="col-md-3 col-sm-6 col-xs-6 serblock">
    	<div class="bserhover">
	        {% if banner.link %}
			    <a href="{{ banner.link }}">
			    <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
			    </a>
			    {% else %}
			    <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
		    {% endif %}
			<div class="serdes">{{ banner.description }}</div>
		</div>
	    </div>
    {% endfor %}
</div>
</div>