<div class="next-prevb">
<div class="heading"><span>{{heading_title}}</span></div>


<div class="row rless">
  <div id="latest" class="owl-theme owl-carousel">
{% set temp = 0 %}
{% set setCol = 2 %}
 {% for product in products %}
{% set temp = temp + 1 %}

        {% if temp % setCol == 1 %}
            <div class="multi-row">
        {% endif %}
<!-- writ code Here -->
  <div class="product-layout cless col-xs-12">
    <div class="product-thumb transition row">
      <div class="image col-sm-5 col-lg-5 col-xs-4">
        <div class="leftimg">
        <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
          <!-- Webiarch Images Start -->
                        {% set t = 0 %}
                          {% for webi_image in product.webi_images %}
                          {% if t == 0 %}
                           <a href="{{ product.href }}"><img src="{{ webi_image.popup }}" class="img-responsive second-img" alt="hover image"/></a>
                          {% set t = t + 1 %}
                          {% endif %}
                        {% endfor %}
        <!-- Webiarch Images End -->  
        </div>   
      </div>
      <div class="caption text-left col-sm-7 col-lg-7 col-xs-8">
        <div class="cappo">
        {# <span class="probrand">{{ product.manufacturer }}</span> #}
        <h4  class="protitle"><a href="{{ product.href }}">{{ product.name }}</a></h4>
         
        <div class="opbtn">
          {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
         {% if product.price %}
        <div class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
         {#  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
        </div>
        {% endif %}
      </div>
       

      <div class="button-group hidden-sm hidden-xs">
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><svg><use xlink:href="#heart" /></svg></button>
          <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><svg><use xlink:href="#compare"/></svg></button>
          <div data-toggle="tooltip" title="Quickview"  class="bquickv"></div>
          <button type="button" data-toggle="tooltip" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}" class="cartbl"><svg><use xlink:href="#pcart"></use></svg><span></span></button>
        
      </div>
      </div>
      </div>
      
    </div>
    </div>
  
<!-- writ code Here End -->

 {% if temp % setCol == 0 %}
            </div>
        {% endif %}

  {% endfor %}

  {% if products|length % setCol != 0 %}
        </div>
    {% endif %}
</div>
</div>
</div>




<script type="text/javascript">
    $(document).ready(function() {
    $("#latest").owlCarousel({
    itemsCustom : [
    [0, 1],
    [320, 1],
    [600, 2],
    [768, 2],
    [992, 2],
    [1200, 2],
    [1410, 3]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>
