<div class="hometimer next-prevb">


    <div class="timerpro">
<h1 class="heading text-left">{{ oc_title }}</h1>
<div class="row rless"> 
  <div id="count" class="owl-theme owl-carousel">
  {% for product in products %}
  <div class="product-layout col-xs-12 cless">
    <div class="product-thumb transition row">
      <div class="image col-xs-9 col-sm-8 col-md-5 col-lg-5 custw">
        <a href="{{ product.href }}">
        <img src="{{ product.thumb }}" alt="{{ product.name }}" data-image-large-src="{{ product.thumb }}"  title="{{ product.name }}" class="img-responsive center-block js-product-cover" /></a>
        {# {% if product.tag_per  %}
            <span class="sale">{{ product.tag_per }}%</span>
        {% endif %} #}        

      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-3 addimage">
        <div class="row addi">
          <div class="slider-for">             
          {% for webi_image in product.webi_images %}
         
           <div class="slide col-xs-12">
            <img src="{{ webi_image.popup }}" class="img-responsive menuimg img-thumb thumb" alt="hover image"/>
       
          </div>
          
                               
          {% endfor %}
           </div> 
         </div>
      </div>
     
      <div class="caption text-left col-xs-12 col-sm-12 col-md-5 col-lg-5 tica">
        <h4 class="protitle"><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {% if product.price %}
          <div class="price">
            {% if not product.special %}
            {{ product.price }}
            {% else %}
            <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
           {#  {% if product.tax %}
            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
            {% endif %} #}
          </div>
        {% endif %}
         {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
        <p class="countprice">{{ product.description }}</p>

          <h4 class="dealt">{{ text_deal }}</h4>
         {% if config_module.countdown %}<div id="Countdown{{ product.product_id }}" class="box-timer"></div> {% endif %}
        <div class="button-group">
            <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><svg><use xlink:href="#heart" /></svg></button>
            <button type="button" data-toggle="tooltip" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}" class="cartbb"><svg><use xlink:href="#pcart"></use></svg><span></span></button>
            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><svg><use xlink:href="#compare"/></svg></button>
            <div data-toggle="tooltip" title="Quickview"  class="bquickv"></div>
        </div>
       

      </div>

       

   {% if product.date_end %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#Countdown{{ product.product_id }}').countdown({
                        until: new Date({{ product.date_end|date("Y") }}, {{ product.date_end|date("m") }}-1, {{ product.date_end|date("d") }}, {{ product.date_end|date("H") }}, {{ product.date_end|date("i") }}, {{ product.date_end|date("s") }}),
                        labels: ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'],
                        labels1: ['Year', 'Month', 'Week', 'Day', 'Hr', 'Min', 'Sec'],
                    });
                    //$('#Countdown<?php echo $product['product_id'];?>').countdown('pause');
                });
            </script>
            {% endif %}
            </div>
    </div>
  {% endfor %}


  
   </div>
 </div>
</div>
</div>



<script type="text/javascript">
    $(document).ready(function() {
    $("#count").owlCarousel({
    itemsCustom : [
    [0, 1],
    [600, 2],
    [768, 2],
    [992, 1],
    [1200, 2],
    [1410, 2]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
     });

     $(document).ready(function() {

  $('.slider-for').slick({
  dots: false,
  arrows: false,
  autoplay: true,
  row: 3,
  vertical: true,
  infinite: true,
  autoplaySpeed: 3000,
  slidesToShow: 3,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    });
   
$(document).ready(function(){
    

    $('.img-thumb').click(function () {
        
     var src = $(this).attr('src');
     //$('#image-zoom').attr("src",loc);
     console.log($(this).closest(".product-thumb").find('.js-product-cover').attr('src',src));
});
});

    
</script>

