<div class="s-panel">
  <div class="sliderow">
  <div class="loader wrloader"></div>
  <div id="slideshow{{ module }}" class="owl-carousel owl-theme">
     {% for banner in banners %}
        <div class="text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
        {% endfor %}
  </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $("#slideshow{{ module }}").owlCarousel({
    itemsCustom : [
    [0, 1]
    ],
      autoPlay: 3000,
      animateIn: 'fadeIn',
      animateOut: 'fadeOut',
      loop: false,
      navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      navigation : false,
      pagination:true
    });
    });
</script>