<div class="footer-top text-center">
<div class="webi-newsletter {{ prefix }} newsl" id="newsletter_{{ id }}" data-mode="{{ mode }}">
		<form id="formNewLestter" method="post" action="{{ action }}" class="formNewLestter" {% if banner is not empty%} style="background-image: url('{{ banner }}')" {% endif %}>
			<div class="inner newsbgf">
				<div>
					<span class="d-inline-block">
						<h5>{{ entry_newsletter }}</h5>
						<div id="newsletter">
							<div class="description-top">
								{{ description }}
							</div>
						</div>
					</span>
				</div>
				<div>
					<div class="form-group">
						<input type="text" class="form-control input-md inputNew" {% if customer_email is not defined %} onblur="javascript:if(this.value=='')this.value='{{ default_input_text }}';" onfocus="javascript:if(this.value=='{{ default_input_text }}')this.value='';"{% endif %} value="{{ customer_email? customer_email : default_input_text }}" size="18" name="email">
					
						<button type="submit" name="submitNewsletter" class="btn btn-primary">{{ button_subscribe }}</button>
					</div>
					<input type="hidden" value="1" name="action">
					<div class="valid"></div>
					<!-- <div class="description-bottom">
						{{ social }}
					</div> -->
				</div>
			</div>
		</form>
</div>
</div>
<script type="text/javascript"><!--
$("#newsletter_{{ id }}").webiNewsletter().work(  '{{ valid_email }}' );
--></script>