<div class="testimonial-module">
    <div class="block-title">
        <div class="title"><span>{{ title }}</span></div>
		{% if text_module_testimonial %}
			<p>{{ text_module_testimonial }}</p>
		{% endif %}
    </div>
    <div class="swiper-viewport">
        
		<div class="swiper-container testimonial-slides ">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                    
					<div class="testimonial-content swiper-slide">
                        <div class="inner">
							<div class="testimonial-images testimonial-images-{{ i }}">
								<a href="javascript:void(0);" onclick="testimonialGoToSlide({{ i }})"><img src="{{ testimonial.image }}" alt="{{ testimonial.customer_name }}"></a>
								
							</div>
							<div class="testimonial-box">
								
								<p>{{ testimonial.content }}</p>
								<span class="testimonial-author">{{ testimonial.customer_name }}</span>
							</div>
						</div>
                    </div>
                {% endfor %}
            </div>
        </div>
		
        {% if slide.pagination %}
            <div class="swiper-pagination testimonial-pagination"></div>
        {% endif %}

        {% if slide.navigation %}
            <div class="swiper-pager">
                <div class="swiper-button-next swiper-testimonial-button-next"></div>
                <div class="swiper-button-prev swiper-testimonial-button-prev"></div>
            </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    var testimonial_slides = $(".testimonial-slides").swiper({
        spaceBetween: 0,
        {% if slide.pagination %}
        pagination: '.testimonial-pagination',
        paginationClickable: true,
        {% endif %}
        {% if slide.navigation %}
        nextButton: '.swiper-testimonial-button-next',
        prevButton: '.swiper-testimonial-button-prev',
        {% endif %}
        speed: {% if slide.speed %} {{ slide.speed }} {% else %} 300 {% endif %},
        slidesPerView: {{ slide.items }},
        slidesPerColumn: {{ slide.rows }},
        autoplay: {% if slide.auto %} 3000 {% else %} false {% endif %},
        loop: true,
		breakpoints: {
			1199: {
				slidesPerView: 2
			},
			991: {
				slidesPerView: 2
			},
			767: {
				slidesPerView: 1
			},
			479: {
				slidesPerView: 1
			},
			374: {
				slidesPerView: 1
			}
		}
    });

    
</script>