{{ header }}
<div id="information-information" class="container">
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-md-9 col-lg-10' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      {{ content_top }}
      <h1 class="heading">{{ heading_title }}</h1>
      {{ description }}</div>
    {{ column_right }}</div>
</div>
{{ content_bottom }}
{{ footer }}